.table {
  width: 100%;
  // table-layout: fixed;
  border-spacing: 0;
}

.tableHeadRow {
  background: none;
  font-weight: bold;

  > td {
    padding-bottom: calc(var(--spacing) * 0.75);
    padding-left: calc(var(--spacing) * 0.75);
  }
}

.tableBodyRow {
  background: white;

  &:nth-child(odd) {
    background: gray;
  }

  > td {
    padding: calc(var(--spacing) * 0.75);
  }
}
