.table {
  width: 100%;
  // table-layout: fixed;
  border-spacing: 0;
}

.tableHeadRow {
  background: none;
  font-weight: bold;

  td {
    padding-bottom: calc(var(--spacing) * 0.75);
    padding-left: calc(var(--spacing) * 0.75);
  }

  .tableHeadButton {
    appearance: none;
    border: 0;
    background: none;
    font-weight: bold;
    font-size: 16px;
  }

  .tableHeadButton--isActive {
    position: relative;
    padding-right: 15px;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      width: 0;
      height: 0;
      border-top: 5px solid black;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 0 solid transparent;
      transform: translateY(-50%);
    }

    &.tableHeadButton--isInverted {
      &:after {
        border-top: 0 solid transparent;
        border-bottom: 5px solid black;
      }
    }
  }
}

.tableBodyRow {
  background: white;

  &:nth-child(odd) {
    background: gray;
  }

  td {
    padding: calc(var(--spacing) * 0.75);
  }
}
