.header {
  display: flex;
  height: 60px;
  padding: 0 var(--spacing);
  align-items: stretch;
  background: var(--blue);
  color: white;
}

.logo {
  margin-right: auto;
  fill: currentColor;
  align-self: center;
}
