.navigation {
  display: flex;
}

.link {
  display: flex;
  padding: 0 var(--spacing);
  align-items: center;
  color: white;
  text-decoration: none;

  &--is-active {
    background: white;
    color: var(--blue);
  }
}
