.filters {
  padding: calc(var(--spacing)  * 0.75);
  background: var(--gray);
  border-radius: 5px;
}

.fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
  border: 0;
}

.legend {
  display: block;
  margin-bottom: var(--spacing);
  float: left;
  font-weight: bold;
}

.selectBox {
  display: block;
  margin-top: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing)  * 0.5);
  width: 100%;
  border: 0;
  appearance: none;
  background: white;
  border-radius: 5px;
  clear: both;

  &::-ms-expand {
    display: none;
  }
}

.submitButton,
.resetButton {
  display: block;
  margin-top: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing)  * 0.5);
  width: 100%;
  border: 0;
  color: white;
  font-weight: bold;
}

.submitButton {
  background: #2D4596;

  &--is-disabled {
    background: gray;
  }
}

.resetButton {
  background: #EAAC4C;
}
