.usercard {
  display: flex;
  margin-left: calc(var(--spacing) * 2);
  align-items: center;
  border-left: 2px solid white;
}

.icon {
  display: block;
  width: 35px;
  height: auto;
  margin-left: calc(var(--spacing) * 1.5);
  margin-right: var(--spacing);
  fill: white;
  box-sizing: content-box;
  background: gray;
  border-radius: 50%;
}

.userDetails {
  display: flex;
  margin: 0;
  flex-direction: column;
}

.userDetailsValue {
  margin-top: calc(var(--spacing) / 5);
  margin-bottom: calc(var(--spacing) / 5);
}
